<a href="https://colab.research.google.com/github/Fredestroyer007/Project_Euler/blob/main/Project_Euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## #1 Multiples of 3 or 5

<p>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.</p>
<p>Find the sum of all the multiples of 3 or 5 below 1000.</p>

In [ ]:
def sum_of_multiples(max): 
  sum = 0

  for i in range(1,max):
    if i % 3 == 0 or i % 5 == 0:
      sum += i
      
  return sum

In [ ]:
print("The answers is ", sum_of_multiples(1000))

The answers is  233168

## #2 Even Fibonacci numbers

<p>Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:</p>
<p class="center">1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...</p>
<p>By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.</p>

In [ ]:
def sum_even_fibonaci(max):
  sum = 2
  current = 0
  first = 1
  second = 2

  while current < max:
    current = first + second
    if current % 2 == 0:
      sum += current

    first = second
    second = current

  return sum

In [ ]:
print("The answer is ", sum_even_fibonaci(4000000))

The answer is  4613732

## #3 Largest prime factor

<p>The prime factors of 13195 are 5, 7, 13 and 29.</p>
<p>What is the largest prime factor of the number 600851475143 ?</p>

In [18]:
import random

# Miller-Rabbin Primalty test from my RSA Lab at Bois-de-Boulogne in 2019 (https://github.com/Fredestroyer007/LaboratoireRSA_BdeB2019/blob/master/LabRSA.ipynb)
def is_prime(n, k=128):
    # test si le nombre est impair ou si = 2
    if n == 2 or n == 3:
        return True
    if n <= 1 or n % 2 == 0:
        return False
    # trouve r et s
    s = 0
    r = n - 1
    while r & 1 == 0:
        s += 1
        r //= 2
    # fait k nombre de tests
    for _ in range(k):
        a = random.randrange(2, n - 1)
        x = pow(a, r, n)
        if x != 1 and x != n - 1:
            j = 1
            while j < s and x != n - 1:
                x = pow(x, 2, n)
                if x == 1:
                    return False
                j += 1
            if x != n - 1:
                return False
    return True

In [ ]:
import math

def largest_prime(num):
  largest = 0
  for i in range(1, int(math.sqrt(num))):
    if num % i == 0:
      if is_prime(i):
        largest = i

  return largest

In [ ]:
print("The largest prime is", largest_prime(600851475143))

The largest prime is 6857

## #4 Largest palindrome product

<p>A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.</p>
<p>Find the largest palindrome made from the product of two 3-digit numbers.</p>

In [ ]:
def largest_palindrome_product():
  first = 999
  second = 999

  while True:
    temp = str(first * second)

    if temp == temp[::-1]:
      print("The largest palindrome is ", first*second)
      break
    else:
      second -= 1
    
    if second == 990:
      second = 999
      first -= 1

In [ ]:
largest_palindrome_product()

The largest palindrome is  906609

## #5 Smallest multiple

<p>2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.</p>
<p>What is the smallest positive number that is <dfn title="divisible with no remainder">evenly divisible</dfn> by all of the numbers from 1 to 20?</p>

In [11]:
def smallest_multiple(max_multiple):
  num = max_multiple * 2

  while True:
    is_multiple = True

    for i in range(1, max_multiple+1):
      if num % i != 0 and is_multiple == True:
        is_multiple = False
    
    if is_multiple == True:
      return num
      break
    else:
      num += max_multiple

In [14]:
print("The smallest multiple is ", smallest_multiple(20))

The smallest multiple is  232792560

## #6 Sum square difference

<p>The sum of the squares of the first ten natural numbers is,</p>
$$1^2 + 2^2 + ... + 10^2 = 385$$
<p>The square of the sum of the first ten natural numbers is,</p>
$$(1 + 2 + ... + 10)^2 = 55^2 = 3025$$
<p>Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is $3025 - 385 = 2640$.</p>
<p>Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.</p>

In [15]:
def sum_square_difference(max):
  sum_square = 0
  sum = 0 

  for i in range(1, max + 1):
    sum_square += i**2
    sum += i

  return sum**2 - sum_square

In [17]:
print("The difference of sum square is ", sum_square_difference(100))

The difference of sum square is  25164150

## #7 10001st prime

<p>By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.</p>
<p>What is the 10 001st prime number?</p>

In [21]:
def find_certain_number_of_primes(prime_to_find):
  num = 2
  i = 0

  while True:
    if is_prime(num):
      i += 1

      if i == prime_to_find:
        return num

    num += 1

In [25]:
print("The prime is ", find_certain_number_of_primes(10001))

104743

## #8 Largest product in a series

<p>The four adjacent digits in the 1000-digit number that have the greatest product are 9 Ã— 9 Ã— 8 Ã— 9 = 5832.</p>
<p class="monospace center">
73167176531330624919225119674426574742355349194934<br />
96983520312774506326239578318016984801869478851843<br />
85861560789112949495459501737958331952853208805511<br />
12540698747158523863050715693290963295227443043557<br />
66896648950445244523161731856403098711121722383113<br />
62229893423380308135336276614282806444486645238749<br />
30358907296290491560440772390713810515859307960866<br />
70172427121883998797908792274921901699720888093776<br />
65727333001053367881220235421809751254540594752243<br />
52584907711670556013604839586446706324415722155397<br />
53697817977846174064955149290862569321978468622482<br />
83972241375657056057490261407972968652414535100474<br />
82166370484403199890008895243450658541227588666881<br />
16427171479924442928230863465674813919123162824586<br />
17866458359124566529476545682848912883142607690042<br />
24219022671055626321111109370544217506941658960408<br />
07198403850962455444362981230987879927244284909188<br />
84580156166097919133875499200524063689912560717606<br />
05886116467109405077541002256983155200055935729725<br />
71636269561882670428252483600823257530420752963450<br /></p>
<p>Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?</p>

In [32]:
# let's use a string to store to series to make it easier to go through it
serie = "73167176531330624919225119674426574742355349194934" \
"96983520312774506326239578318016984801869478851843" \
"85861560789112949495459501737958331952853208805511" \
"12540698747158523863050715693290963295227443043557" \
"66896648950445244523161731856403098711121722383113" \
"62229893423380308135336276614282806444486645238749" \
"30358907296290491560440772390713810515859307960866" \
"70172427121883998797908792274921901699720888093776" \
"65727333001053367881220235421809751254540594752243" \
"52584907711670556013604839586446706324415722155397" \
"53697817977846174064955149290862569321978468622482" \
"83972241375657056057490261407972968652414535100474" \
"82166370484403199890008895243450658541227588666881" \
"16427171479924442928230863465674813919123162824586" \
"17866458359124566529476545682848912883142607690042" \
"24219022671055626321111109370544217506941658960408" \
"07198403850962455444362981230987879927244284909188" \
"84580156166097919133875499200524063689912560717606" \
"05886116467109405077541002256983155200055935729725" \
"71636269561882670428252483600823257530420752963450"

# check if the lenght of the string is right
print("The lenght is correct!") if len(serie) == 1000 else print("The lenght of the string is not 1000!")

The lenght is correct!

In [58]:
def largest_product_series(serie, lenght_product):
  max_product = 0
  temp_product = 0

  for i in range(0, len(serie) - lenght_product):
    temp_product = int(serie[i])
    
    for y in range(1, lenght_product):
      temp_product *= int(serie[i+y])
    
    if temp_product > max_product:
      max_product = temp_product

  return max_product

In [59]:
print("The largest product is ", largest_product_series(serie, 13))

The largest product is  23514624000

## #9 Special Pythagorean triplet

<p>A Pythagorean triplet is a set of three natural numbers, <var>a</var> &lt; <var>b</var> &lt; <var>c</var>, for which,</p>
<div class="center"> <var>a</var><sup>2</sup> + <var>b</var><sup>2</sup> = <var>c</var><sup>2</sup></div>
<p>For example, 3<sup>2</sup> + 4<sup>2</sup> = 9 + 16 = 25 = 5<sup>2</sup>.</p>
<p>There exists exactly one Pythagorean triplet for which <var>a</var> + <var>b</var> + <var>c</var> = 1000.<br />Find the product <var>abc</var>.</p>

In [63]:
import math

def find_pythagorean_triplet(num):
  for b in range(2, num):
    for a in range(1, b):
      c = math.sqrt(a**2 + b**2) 

      if c - int(c) == 0 and c > a and c > b and a + b + c == num :
        return int(a*b*c)

  return False

In [65]:
print("The product of the Pythagorean triplet is ", find_pythagorean_triplet(1000))

The product of the Pythagorean triplet is  31875000

To read later: https://math.stackexchange.com/questions/131330/detecting-perfect-squares-faster-than-by-extracting-square-root/712818#712818

## #10 Summation of primes

<p>The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.</p>
<p>Find the sum of all the primes below two million.</p>

In [71]:
def sum_of_primes(max_num):
  sum = 2

  for i in range(3, max_num, 2):
    if is_prime(i):
      sum += i

  return sum

In [73]:
print("The sum of primes is ", sum_of_primes(2000000))

The sum of primes is  142913828922

## #11 Largest product in a grid

<p>In the 20Ã—20 grid below, four numbers along a diagonal line have been marked in red.</p>
<p class="monospace center">
08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08<br />
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00<br />
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65<br />
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91<br />
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80<br />
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50<br />
32 98 81 28 64 23 67 10 <span class="red"><b>26</b></span> 38 40 67 59 54 70 66 18 38 64 70<br />
67 26 20 68 02 62 12 20 95 <span class="red"><b>63</b></span> 94 39 63 08 40 91 66 49 94 21<br />
24 55 58 05 66 73 99 26 97 17 <span class="red"><b>78</b></span> 78 96 83 14 88 34 89 63 72<br />
21 36 23 09 75 00 76 44 20 45 35 <span class="red"><b>14</b></span> 00 61 33 97 34 31 33 95<br />
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92<br />
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57<br />
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58<br />
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40<br />
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66<br />
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69<br />
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36<br />
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16<br />
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54<br />
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48<br /></p>
<p>The product of these numbers is 26 Ã— 63 Ã— 78 Ã— 14 = 1788696.</p>
<p>What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20Ã—20 grid?</p>