<a href="https://colab.research.google.com/github/Fredestroyer007/Project_Euler/blob/main/Project_Euler.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## #1 Multiples of 3 or 5

<p>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.</p>
<p>Find the sum of all the multiples of 3 or 5 below 1000.</p>

In [50]:
def sum_of_multiples_brute(max): 
  return sum(i for i in range(1, max) if (i % 3 == 0) or (i % 5 == 0))

In [51]:
%time print("The answers is ", sum_of_multiples_brute(1000))

The answers is  233168
CPU times: user 2.7 ms, sys: 0 ns, total: 2.7 ms
Wall time: 2.83 ms

If we take all the numbers divisible by 3 and by 5, smaller than 1000, we get:

\begin{align}
\text 3 + 6 + 9 + ... + 999 = 3 \times ( 1 + 2 + 3 + ... + 333)
\end{align}
\begin{align}
\text 5 + 10 + 15 + ... + 995 = 5 \times (1 + 2 + 3 + ... + 199)
\end{align}

Using the formula for the sum of the first n natural numbers:

\begin{align}
\mathbf \sum \frac {n(n+1)} {2}
\end{align}

where:

> $n$ is the maximum number.

We use the fact that we can find the highest divider of a number using the integer division and finally we get:

\begin{align}
\text{Sum of multiples of 3 and 5 under 1000} = {3}\sum \frac {({1000} \backslash {3}) (({1000} \backslash {3}) + 1)} {2} + {5}\sum \frac {({1000} \backslash {5}) (({1000} \backslash {5}) + 1)} {2} - {(3 \times 5)}\sum \frac {({1000} \backslash {(3 \times 5)}) (({1000} \backslash {(3 \times 5)}) + 1)} {2}
\end{align}

where:


> \ is the sign for the integer divison

In [52]:
def sum_of_multiples_optimized(first_multiple, second_multiple, max):
  return int((first_multiple * (((max // first_multiple) * ((max // first_multiple) + 1)) / 2))) + int((second_multiple * (((max // second_multiple) * ((max // second_multiple) + 1)) / 2))) - int(((first_multiple * second_multiple) * (((max//(first_multiple * second_multiple)) * (((max // (first_multiple * second_multiple)) + 1) / 2)))))

In [53]:
%time print("The optimized version gives the answer ", sum_of_multiples_optimized(3, 5, 999))

The optimized version gives the answer  233168
CPU times: user 73 µs, sys: 0 ns, total: 73 µs
Wall time: 76.5 µs

Compared to the brute force version, the optimized version runs in about 2.7% of the time (2.83ms vs 76.5us).

It can be explain by the fact that the bruteforce version scale linearly O(n), it iterates through a loop until the max number, but the optimized version runs in constant O(1) time, since whatever the max number is, it will always do the same calculations.

## #2 Even Fibonacci numbers

<p>Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:</p>
<p class="center">1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...</p>
<p>By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.</p>

In [ ]:
def sum_even_fibonaci(max):
  sum = 2
  current = 0
  first = 1
  second = 2

  while current < max:
    current = first + second
    if current % 2 == 0:
      sum += current

    first = second
    second = current

  return sum

In [ ]:
print("The answer is ", sum_even_fibonaci(4000000))

The answer is  4613732

## #3 Largest prime factor

<p>The prime factors of 13195 are 5, 7, 13 and 29.</p>
<p>What is the largest prime factor of the number 600851475143 ?</p>

In [60]:
import random

# Miller-Rabbin Primalty test from my RSA Lab at Bois-de-Boulogne in 2019 (https://github.com/Fredestroyer007/LaboratoireRSA_BdeB2019/blob/master/LabRSA.ipynb)
def is_prime(n, k=128):
    # test si le nombre est impair ou si = 2
    if n == 2 or n == 3:
        return True
    if n <= 1 or n % 2 == 0:
        return False
    # trouve r et s
    s = 0
    r = n - 1
    while r & 1 == 0:
        s += 1
        r //= 2
    # fait k nombre de tests
    for _ in range(k):
        a = random.randrange(2, n - 1)
        x = pow(a, r, n)
        if x != 1 and x != n - 1:
            j = 1
            while j < s and x != n - 1:
                x = pow(x, 2, n)
                if x == 1:
                    return False
                j += 1
            if x != n - 1:
                return False
    return True

In [67]:
import math

def largest_prime(num):
  largest = 0
  for i in range(1, int(math.sqrt(num))):
    if num % i == 0:
      if is_prime(i):
        largest = i

  return largest

In [68]:
%time print("The largest prime is", largest_prime(600851475143))

The largest prime is 6857
CPU times: user 105 ms, sys: 0 ns, total: 105 ms
Wall time: 108 ms

Also, we can factor out all the prime factor below the square root, the remainder will be the largest prime factor of the number.

In [89]:
import math

def largest_prime_optimized(num):
  i = 2

  while (i <= math.sqrt(num)):
    if (num % i == 0):
      num /= i
    else:
      i += 1

  return int(num)

In [96]:
%time print("The optimized version gives us ", largest_prime_optimized(600851475143))

The optimized version gives us  6857
CPU times: user 609 µs, sys: 0 ns, total: 609 µs
Wall time: 614 µs

Compared to the brute force version, the optimized version runs in about 0.57% of the time (108ms vs 614us).

## #4 Largest palindrome product

<p>A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.</p>
<p>Find the largest palindrome made from the product of two 3-digit numbers.</p>

In [ ]:
def largest_palindrome_product():
  first = 999
  second = 999

  while True:
    temp = str(first * second)

    if temp == temp[::-1]:
      print("The largest palindrome is ", first*second)
      break
    else:
      second -= 1
    
    if second == 990:
      second = 999
      first -= 1

In [ ]:
largest_palindrome_product()

The largest palindrome is  906609

## #5 Smallest multiple

<p>2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.</p>
<p>What is the smallest positive number that is <dfn title="divisible with no remainder">evenly divisible</dfn> by all of the numbers from 1 to 20?</p>

In [ ]:
def smallest_multiple(max_multiple):
  num = max_multiple * 2

  while True:
    is_multiple = True

    for i in range(1, max_multiple+1):
      if num % i != 0 and is_multiple == True:
        is_multiple = False
    
    if is_multiple == True:
      return num
      break
    else:
      num += max_multiple

In [ ]:
print("The smallest multiple is ", smallest_multiple(20))

The smallest multiple is  232792560

## #6 Sum square difference

<p>The sum of the squares of the first ten natural numbers is,</p>
$$1^2 + 2^2 + ... + 10^2 = 385$$
<p>The square of the sum of the first ten natural numbers is,</p>
$$(1 + 2 + ... + 10)^2 = 55^2 = 3025$$
<p>Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is $3025 - 385 = 2640$.</p>
<p>Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.</p>

In [ ]:
def sum_square_difference(max):
  sum_square = 0
  sum = 0 

  for i in range(1, max + 1):
    sum_square += i**2
    sum += i

  return sum**2 - sum_square

In [ ]:
print("The difference of sum square is ", sum_square_difference(100))

The difference of sum square is  25164150

## #7 10001st prime

<p>By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.</p>
<p>What is the 10 001st prime number?</p>

In [ ]:
def find_certain_number_of_primes(prime_to_find):
  num = 2
  i = 0

  while True:
    if is_prime(num):
      i += 1

      if i == prime_to_find:
        return num

    num += 1

In [ ]:
print("The prime is ", find_certain_number_of_primes(10001))

104743

## #8 Largest product in a series

<p>The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.</p>
<p class="monospace center">
73167176531330624919225119674426574742355349194934<br />
96983520312774506326239578318016984801869478851843<br />
85861560789112949495459501737958331952853208805511<br />
12540698747158523863050715693290963295227443043557<br />
66896648950445244523161731856403098711121722383113<br />
62229893423380308135336276614282806444486645238749<br />
30358907296290491560440772390713810515859307960866<br />
70172427121883998797908792274921901699720888093776<br />
65727333001053367881220235421809751254540594752243<br />
52584907711670556013604839586446706324415722155397<br />
53697817977846174064955149290862569321978468622482<br />
83972241375657056057490261407972968652414535100474<br />
82166370484403199890008895243450658541227588666881<br />
16427171479924442928230863465674813919123162824586<br />
17866458359124566529476545682848912883142607690042<br />
24219022671055626321111109370544217506941658960408<br />
07198403850962455444362981230987879927244284909188<br />
84580156166097919133875499200524063689912560717606<br />
05886116467109405077541002256983155200055935729725<br />
71636269561882670428252483600823257530420752963450<br /></p>
<p>Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. What is the value of this product?</p>

In [ ]:
# let's use a string to store to series to make it easier to go through it
serie = "73167176531330624919225119674426574742355349194934" \
"96983520312774506326239578318016984801869478851843" \
"85861560789112949495459501737958331952853208805511" \
"12540698747158523863050715693290963295227443043557" \
"66896648950445244523161731856403098711121722383113" \
"62229893423380308135336276614282806444486645238749" \
"30358907296290491560440772390713810515859307960866" \
"70172427121883998797908792274921901699720888093776" \
"65727333001053367881220235421809751254540594752243" \
"52584907711670556013604839586446706324415722155397" \
"53697817977846174064955149290862569321978468622482" \
"83972241375657056057490261407972968652414535100474" \
"82166370484403199890008895243450658541227588666881" \
"16427171479924442928230863465674813919123162824586" \
"17866458359124566529476545682848912883142607690042" \
"24219022671055626321111109370544217506941658960408" \
"07198403850962455444362981230987879927244284909188" \
"84580156166097919133875499200524063689912560717606" \
"05886116467109405077541002256983155200055935729725" \
"71636269561882670428252483600823257530420752963450"

# check if the lenght of the string is right
print("The lenght is correct!") if len(serie) == 1000 else print("The lenght of the string is not 1000!")

The lenght is correct!

In [ ]:
def largest_product_series(serie, lenght_product):
  max_product = 0
  temp_product = 0

  for i in range(0, len(serie) - lenght_product):
    temp_product = int(serie[i])
    
    for y in range(1, lenght_product):
      temp_product *= int(serie[i+y])
    
    if temp_product > max_product:
      max_product = temp_product

  return max_product

In [ ]:
print("The largest product is ", largest_product_series(serie, 13))

The largest product is  23514624000

## #9 Special Pythagorean triplet

<p>A Pythagorean triplet is a set of three natural numbers, <var>a</var> &lt; <var>b</var> &lt; <var>c</var>, for which,</p>
<div class="center"> <var>a</var><sup>2</sup> + <var>b</var><sup>2</sup> = <var>c</var><sup>2</sup></div>
<p>For example, 3<sup>2</sup> + 4<sup>2</sup> = 9 + 16 = 25 = 5<sup>2</sup>.</p>
<p>There exists exactly one Pythagorean triplet for which <var>a</var> + <var>b</var> + <var>c</var> = 1000.<br />Find the product <var>abc</var>.</p>

In [ ]:
import math

def find_pythagorean_triplet(num):
  for b in range(2, num):
    for a in range(1, b):
      c = math.sqrt(a**2 + b**2) 

      if c - int(c) == 0 and c > a and c > b and a + b + c == num :
        return int(a*b*c)

  return False

In [ ]:
print("The product of the Pythagorean triplet is ", find_pythagorean_triplet(1000))

The product of the Pythagorean triplet is  31875000

To read later: https://math.stackexchange.com/questions/131330/detecting-perfect-squares-faster-than-by-extracting-square-root/712818#712818

## #10 Summation of primes

<p>The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.</p>
<p>Find the sum of all the primes below two million.</p>

In [ ]:
def sum_of_primes(max_num):
  sum = 2

  for i in range(3, max_num, 2):
    if is_prime(i):
      sum += i

  return sum

In [ ]:
print("The sum of primes is ", sum_of_primes(2000000))

The sum of primes is  142913828922

## #11 Largest product in a grid

<p>In the 20×20 grid below, four numbers along a diagonal line have been marked in red.</p>
<p class="monospace center">
08 02 22 97 38 15 00 40 00 75 04 05 07 78 52 12 50 77 91 08<br />
49 49 99 40 17 81 18 57 60 87 17 40 98 43 69 48 04 56 62 00<br />
81 49 31 73 55 79 14 29 93 71 40 67 53 88 30 03 49 13 36 65<br />
52 70 95 23 04 60 11 42 69 24 68 56 01 32 56 71 37 02 36 91<br />
22 31 16 71 51 67 63 89 41 92 36 54 22 40 40 28 66 33 13 80<br />
24 47 32 60 99 03 45 02 44 75 33 53 78 36 84 20 35 17 12 50<br />
32 98 81 28 64 23 67 10 <span class="red"><b>26</b></span> 38 40 67 59 54 70 66 18 38 64 70<br />
67 26 20 68 02 62 12 20 95 <span class="red"><b>63</b></span> 94 39 63 08 40 91 66 49 94 21<br />
24 55 58 05 66 73 99 26 97 17 <span class="red"><b>78</b></span> 78 96 83 14 88 34 89 63 72<br />
21 36 23 09 75 00 76 44 20 45 35 <span class="red"><b>14</b></span> 00 61 33 97 34 31 33 95<br />
78 17 53 28 22 75 31 67 15 94 03 80 04 62 16 14 09 53 56 92<br />
16 39 05 42 96 35 31 47 55 58 88 24 00 17 54 24 36 29 85 57<br />
86 56 00 48 35 71 89 07 05 44 44 37 44 60 21 58 51 54 17 58<br />
19 80 81 68 05 94 47 69 28 73 92 13 86 52 17 77 04 89 55 40<br />
04 52 08 83 97 35 99 16 07 97 57 32 16 26 26 79 33 27 98 66<br />
88 36 68 87 57 62 20 72 03 46 33 67 46 55 12 32 63 93 53 69<br />
04 42 16 73 38 25 39 11 24 94 72 18 08 46 29 32 40 62 76 36<br />
20 69 36 41 72 30 23 88 34 62 99 69 82 67 59 85 74 04 36 16<br />
20 73 35 29 78 31 90 01 74 31 49 71 48 86 81 16 23 57 05 54<br />
01 70 54 71 83 51 54 69 16 92 33 48 61 43 52 01 89 19 67 48<br /></p>
<p>The product of these numbers is 26 × 63 × 78 × 14 = 1788696.</p>
<p>What is the greatest product of four adjacent numbers in the same direction (up, down, left, right, or diagonally) in the 20×20 grid?</p>

In [ ]:
grid = [[8,2,22,97,38,15,0,40,0,75,4,5,7,78,52,12,50,77,91,8],
        [49,49,99,40,17,81,18,57,60,87,17,40,98,43,69,48,4,56,62,0],
        [81,49,31,73,55,79,14,29,93,71,40,67,53,88,30,3,49,13,36,65],
        [52,70,95,23,4,60,11,42,69,24,68,56,1,32,56,71,37,2,36,91],
        [22,31,16,71,51,67,63,89,41,92,36,54,22,40,40,28,66,33,13,80],
        [24,47,32,60,99,3,45,2,44,75,33,53,78,36,84,20,35,17,12,50],
        [32,98,81,28,64,23,67,10,26,38,40,67,59,54,70,66,18,38,64,70],
        [67,26,20,68,2,62,12,20,95,63,94,39,63,8,40,91,66,49,94,21],
        [24,55,58,5,66,73,99,26,97,17,78,78,96,83,14,88,34,89,63,72],
        [21,36,23,9,75,0,76,44,20,45,35,14,0,61,33,97,34,31,33,95],
        [78,17,53,28,22,75,31,67,15,94,3,80,4,62,16,14,9,53,56,92],
        [16,39,5,42,96,35,31,47,55,58,88,24,0,17,54,24,36,29,85,57],
        [86,56,0,48,35,71,89,7,5,44,44,37,44,60,21,58,51,54,17,58],
        [19,80,81,68,5,94,47,69,28,73,92,13,86,52,17,77,4,89,55,40],
        [4,52,8,83,97,35,99,16,7,97,57,32,16,26,26,79,33,27,98,66],
        [88,36,68,87,57,62,20,72,3,46,33,67,46,55,12,32,63,93,53,69],
        [4,42,16,73,38,25,39,11,24,94,72,18,8,46,29,32,40,62,76,36],
        [20,69,36,41,72,30,23,88,34,62,99,69,82,67,59,85,74,4,36,16],
        [20,73,35,29,78,31,90,1,74,31,49,71,48,86,81,16,23,57,5,54],
        [1,70,54,71,83,51,54,69,16,92,33,48,61,43,52,1,89,19,67,48],]

In [ ]:
# As of September 2021, Colab is running Python 3.7, math.prod() is only available in Python 3.8...
def prod(iterable):
    i = 1

    for n in iterable:
        i *= n
    return i

In [ ]:
def largest_produce_grid(grid, num_adjacent):
  maximum = 0      
  horizontal = 0
  vertical = 0
  diagonal_left = 0
  diagonal_right = 0

  for x in range(20):
    for y in range(20):
      if x < 17:
        horizontal = prod(grid[y][x+i] for i in range(4))
      if y < 17:
        vertical = prod(grid[y+i][x] for i in range(4))
      if x < 17 and y < 17:
        diagonal_right = prod(grid[y+i][x+i] for i in range(4))
      if x > 3 and y < 17:
        diagonal_left = prod(grid[y+i][x-i] for i in range(4))

      temp = max(vertical, horizontal, diagonal_right, diagonal_left)

      horizontal = 0
      vertical = 0
      diagonal_left = 0
      diagonal_right = 0
      

      if maximum < temp:
        maximum = temp
  
  return maximum

In [ ]:
print("The largest product in the grid is ", largest_produce_grid(grid, 4))

The largest product in the grid is  70600674

## #12 Highly divisible triangular number

<p>The sequence of triangle numbers is generated by adding the natural numbers. So the 7<sup>th</sup> triangle number would be 1 + 2 + 3 + 4 + 5 + 6 + 7 = 28. The first ten terms would be:</p>
<p class="center">1, 3, 6, 10, 15, 21, 28, 36, 45, 55, ...</p>
<p>Let us list the factors of the first seven triangle numbers:</p>
<blockquote class="monospace"><b> 1</b>: 1<br /><b> 3</b>: 1,3<br /><b> 6</b>: 1,2,3,6<br /><b>10</b>: 1,2,5,10<br /><b>15</b>: 1,3,5,15<br /><b>21</b>: 1,3,7,21<br /><b>28</b>: 1,2,4,7,14,28</blockquote>
<p>We can see that 28 is the first triangle number to have over five divisors.</p>
<p>What is the value of the first triangle number to have over five hundred divisors?</p>

In [57]:
import math

def divisible_triangle_number(num_divisor):
  num = 1

  while True:
    triangle_number = sum(i for i in range(1, num+1))

    count = 0

    for i in range(1, int(math.sqrt(triangle_number))):
      if triangle_number % i == 0:
        count += 2 # found first part of pair

        if count > num_divisor:
          return triangle_number
          break

    num += 1

In [59]:
%time print("The higly divisible triangle number is ", divisible_triangle_number(500))

The higly divisible triangle number is  76576500
CPU times: user 9.62 s, sys: 0 ns, total: 9.62 s
Wall time: 9.66 s

## #13 Large Sum

<p>Work out the first ten digits of the sum of the following one-hundred 50-digit numbers.</p>
<div class="monospace center">
37107287533902102798797998220837590246510135740250<br />
46376937677490009712648124896970078050417018260538<br />
74324986199524741059474233309513058123726617309629<br />
91942213363574161572522430563301811072406154908250<br />
23067588207539346171171980310421047513778063246676<br />
89261670696623633820136378418383684178734361726757<br />
28112879812849979408065481931592621691275889832738<br />
44274228917432520321923589422876796487670272189318<br />
47451445736001306439091167216856844588711603153276<br />
70386486105843025439939619828917593665686757934951<br />
62176457141856560629502157223196586755079324193331<br />
64906352462741904929101432445813822663347944758178<br />
92575867718337217661963751590579239728245598838407<br />
58203565325359399008402633568948830189458628227828<br />
80181199384826282014278194139940567587151170094390<br />
35398664372827112653829987240784473053190104293586<br />
86515506006295864861532075273371959191420517255829<br />
71693888707715466499115593487603532921714970056938<br />
54370070576826684624621495650076471787294438377604<br />
53282654108756828443191190634694037855217779295145<br />
36123272525000296071075082563815656710885258350721<br />
45876576172410976447339110607218265236877223636045<br />
17423706905851860660448207621209813287860733969412<br />
81142660418086830619328460811191061556940512689692<br />
51934325451728388641918047049293215058642563049483<br />
62467221648435076201727918039944693004732956340691<br />
15732444386908125794514089057706229429197107928209<br />
55037687525678773091862540744969844508330393682126<br />
18336384825330154686196124348767681297534375946515<br />
80386287592878490201521685554828717201219257766954<br />
78182833757993103614740356856449095527097864797581<br />
16726320100436897842553539920931837441497806860984<br />
48403098129077791799088218795327364475675590848030<br />
87086987551392711854517078544161852424320693150332<br />
59959406895756536782107074926966537676326235447210<br />
69793950679652694742597709739166693763042633987085<br />
41052684708299085211399427365734116182760315001271<br />
65378607361501080857009149939512557028198746004375<br />
35829035317434717326932123578154982629742552737307<br />
94953759765105305946966067683156574377167401875275<br />
88902802571733229619176668713819931811048770190271<br />
25267680276078003013678680992525463401061632866526<br />
36270218540497705585629946580636237993140746255962<br />
24074486908231174977792365466257246923322810917141<br />
91430288197103288597806669760892938638285025333403<br />
34413065578016127815921815005561868836468420090470<br />
23053081172816430487623791969842487255036638784583<br />
11487696932154902810424020138335124462181441773470<br />
63783299490636259666498587618221225225512486764533<br />
67720186971698544312419572409913959008952310058822<br />
95548255300263520781532296796249481641953868218774<br />
76085327132285723110424803456124867697064507995236<br />
37774242535411291684276865538926205024910326572967<br />
23701913275725675285653248258265463092207058596522<br />
29798860272258331913126375147341994889534765745501<br />
18495701454879288984856827726077713721403798879715<br />
38298203783031473527721580348144513491373226651381<br />
34829543829199918180278916522431027392251122869539<br />
40957953066405232632538044100059654939159879593635<br />
29746152185502371307642255121183693803580388584903<br />
41698116222072977186158236678424689157993532961922<br />
62467957194401269043877107275048102390895523597457<br />
23189706772547915061505504953922979530901129967519<br />
86188088225875314529584099251203829009407770775672<br />
11306739708304724483816533873502340845647058077308<br />
82959174767140363198008187129011875491310547126581<br />
97623331044818386269515456334926366572897563400500<br />
42846280183517070527831839425882145521227251250327<br />
55121603546981200581762165212827652751691296897789<br />
32238195734329339946437501907836945765883352399886<br />
75506164965184775180738168837861091527357929701337<br />
62177842752192623401942399639168044983993173312731<br />
32924185707147349566916674687634660915035914677504<br />
99518671430235219628894890102423325116913619626622<br />
73267460800591547471830798392868535206946944540724<br />
76841822524674417161514036427982273348055556214818<br />
97142617910342598647204516893989422179826088076852<br />
87783646182799346313767754307809363333018982642090<br />
10848802521674670883215120185883543223812876952786<br />
71329612474782464538636993009049310363619763878039<br />
62184073572399794223406235393808339651327408011116<br />
66627891981488087797941876876144230030984490851411<br />
60661826293682836764744779239180335110989069790714<br />
85786944089552990653640447425576083659976645795096<br />
66024396409905389607120198219976047599490197230297<br />
64913982680032973156037120041377903785566085089252<br />
16730939319872750275468906903707539413042652315011<br />
94809377245048795150954100921645863754710598436791<br />
78639167021187492431995700641917969777599028300699<br />
15368713711936614952811305876380278410754449733078<br />
40789923115535562561142322423255033685442488917353<br />
44889911501440648020369068063960672322193204149535<br />
41503128880339536053299340368006977710650566631954<br />
81234880673210146739058568557934581403627822703280<br />
82616570773948327592232845941706525094512325230608<br />
22918802058777319719839450180888072429661980811197<br />
77158542502016545090413245809786882778948721859617<br />
72107838435069186155435662884062257473692284509516<br />
20849603980134001723930671666823555245252804609722<br />
53503534226472524250874054075591789781264330331690<br /></div>

In [98]:
nums = [37107287533902102798797998220837590246510135740250,
46376937677490009712648124896970078050417018260538,
74324986199524741059474233309513058123726617309629,
91942213363574161572522430563301811072406154908250,
23067588207539346171171980310421047513778063246676,
89261670696623633820136378418383684178734361726757,
28112879812849979408065481931592621691275889832738,
44274228917432520321923589422876796487670272189318,
47451445736001306439091167216856844588711603153276,
70386486105843025439939619828917593665686757934951,
62176457141856560629502157223196586755079324193331,
64906352462741904929101432445813822663347944758178,
92575867718337217661963751590579239728245598838407,
58203565325359399008402633568948830189458628227828,
80181199384826282014278194139940567587151170094390,
35398664372827112653829987240784473053190104293586,
86515506006295864861532075273371959191420517255829,
71693888707715466499115593487603532921714970056938,
54370070576826684624621495650076471787294438377604,
53282654108756828443191190634694037855217779295145,
36123272525000296071075082563815656710885258350721,
45876576172410976447339110607218265236877223636045,
17423706905851860660448207621209813287860733969412,
81142660418086830619328460811191061556940512689692,
51934325451728388641918047049293215058642563049483,
62467221648435076201727918039944693004732956340691,
15732444386908125794514089057706229429197107928209,
55037687525678773091862540744969844508330393682126,
18336384825330154686196124348767681297534375946515,
80386287592878490201521685554828717201219257766954,
78182833757993103614740356856449095527097864797581,
16726320100436897842553539920931837441497806860984,
48403098129077791799088218795327364475675590848030,
87086987551392711854517078544161852424320693150332,
59959406895756536782107074926966537676326235447210,
69793950679652694742597709739166693763042633987085,
41052684708299085211399427365734116182760315001271,
65378607361501080857009149939512557028198746004375,
35829035317434717326932123578154982629742552737307,
94953759765105305946966067683156574377167401875275,
88902802571733229619176668713819931811048770190271,
25267680276078003013678680992525463401061632866526,
36270218540497705585629946580636237993140746255962,
24074486908231174977792365466257246923322810917141,
91430288197103288597806669760892938638285025333403,
34413065578016127815921815005561868836468420090470,
23053081172816430487623791969842487255036638784583,
11487696932154902810424020138335124462181441773470,
63783299490636259666498587618221225225512486764533,
67720186971698544312419572409913959008952310058822,
95548255300263520781532296796249481641953868218774,
76085327132285723110424803456124867697064507995236,
37774242535411291684276865538926205024910326572967,
23701913275725675285653248258265463092207058596522,
29798860272258331913126375147341994889534765745501,
18495701454879288984856827726077713721403798879715,
38298203783031473527721580348144513491373226651381,
34829543829199918180278916522431027392251122869539,
40957953066405232632538044100059654939159879593635,
29746152185502371307642255121183693803580388584903,
41698116222072977186158236678424689157993532961922,
62467957194401269043877107275048102390895523597457,
23189706772547915061505504953922979530901129967519,
86188088225875314529584099251203829009407770775672,
11306739708304724483816533873502340845647058077308,
82959174767140363198008187129011875491310547126581,
97623331044818386269515456334926366572897563400500,
42846280183517070527831839425882145521227251250327,
55121603546981200581762165212827652751691296897789,
32238195734329339946437501907836945765883352399886,
75506164965184775180738168837861091527357929701337,
62177842752192623401942399639168044983993173312731,
32924185707147349566916674687634660915035914677504,
99518671430235219628894890102423325116913619626622,
73267460800591547471830798392868535206946944540724,
76841822524674417161514036427982273348055556214818,
97142617910342598647204516893989422179826088076852,
87783646182799346313767754307809363333018982642090,
10848802521674670883215120185883543223812876952786,
71329612474782464538636993009049310363619763878039,
62184073572399794223406235393808339651327408011116,
66627891981488087797941876876144230030984490851411,
60661826293682836764744779239180335110989069790714,
85786944089552990653640447425576083659976645795096,
66024396409905389607120198219976047599490197230297,
64913982680032973156037120041377903785566085089252,
16730939319872750275468906903707539413042652315011,
94809377245048795150954100921645863754710598436791,
78639167021187492431995700641917969777599028300699,
15368713711936614952811305876380278410754449733078,
40789923115535562561142322423255033685442488917353,
44889911501440648020369068063960672322193204149535,
41503128880339536053299340368006977710650566631954,
81234880673210146739058568557934581403627822703280,
82616570773948327592232845941706525094512325230608,
22918802058777319719839450180888072429661980811197,
77158542502016545090413245809786882778948721859617,
72107838435069186155435662884062257473692284509516,
20849603980134001723930671666823555245252804609722,
53503534226472524250874054075591789781264330331690]

In [105]:
def sums_large_numbers(nums):
  return str(sum(num for num in nums))[0:10]

In [108]:
print("The first 10 numbers of the sum are ", sums_large_numbers(nums))

The first 10 numbers of the sum are  5537376230

## #14 Longest Collatz sequence

<p>The following iterative sequence is defined for the set of positive integers:</p>
<p class="margin_left"><var>n</var> → <var>n</var>/2 (<var>n</var> is even)<br /><var>n</var> → 3<var>n</var> + 1 (<var>n</var> is odd)</p>
<p>Using the rule above and starting with 13, we generate the following sequence:</p>
<div class="center">13 → 40 → 20 → 10 → 5 → 16 → 8 → 4 → 2 → 1</div>
<p>It can be seen that this sequence (starting at 13 and finishing at 1) contains 10 terms. Although it has not been proved yet (Collatz Problem), it is thought that all starting numbers finish at 1.</p>
<p>Which starting number, under one million, produces the longest chain?</p>
<p class="note"><b>NOTE:</b> Once the chain starts the terms are allowed to go above one million.</p>

In [124]:
def collatz_sequence(max_lenght):
  biggest_chain = [0,0] #number, lenght
  cache = []

  for i in range(1, max_lenght):
    n = i
    counter = 0

    while n != 1:
      if n < i:
        counter += cache[int(n)-1]
        n = 1
      elif n % 2 == 0:
        n /= 2
        counter +=1
      else:
        n = 3*n + 1
        counter +=1

    cache.append(counter)

    if counter > biggest_chain[1]:
      biggest_chain[0] = i
      biggest_chain[1] = counter
    
  return biggest_chain[0]

In [126]:
%time print('The number with the largest chain is ', collatz_sequence(1000000))

The number with the largest chain is  837799
CPU times: user 2.26 s, sys: 0 ns, total: 2.26 s
Wall time: 2.27 s

The code is already caching the results to to create a LUT to reduce the number of computations needed, I see no other way to make the code faster.

## #15 Lattice paths

<p>Starting in the top left corner of a 2×2 grid, and only being able to move to the right and down, there are exactly 6 routes to the bottom right corner.</p>
<div class="center">
<img src="project/images/p015.png" class="dark_img" alt="" /></div>
<p>How many such routes are there through a 20×20 grid?</p>

In this problem, it is only possible to move to the left or down; ie we make 20 moves to the left and 20 moves to the right to get to the bottom right corner from the top left corner.

For a grid of size $n \times n$, we will make $2n$ travel moves.

Now, there are $2n!$ possible moves if we were to make them in any order, but in this problem we move to the left or down, which mean that after each move we reduce the subspace of possible moves, ie $n!$.

Putting everything together, we get that :

\begin{equation}
\frac {(2n)!} {n!n!}
\end{equation}

In [136]:
import math
def lattice_path(grid_size):
  return int(math.factorial(2*grid_size) / (math.factorial(grid_size) * math.factorial(grid_size)))

In [141]:
%time print("There are " + str(lattice_path(20)) + " routes")

There are 137846528820 routes
CPU times: user 120 µs, sys: 18 µs, total: 138 µs
Wall time: 108 µs

The code is already running in constant time, I see no other way to improve it.

## #16 Power digit sum

<p>2<sup>15</sup> = 32768 and the sum of its digits is 3 + 2 + 7 + 6 + 8 = 26.</p>
<p>What is the sum of the digits of the number 2<sup>1000</sup>?</p>

In [142]:
def power_digit_sum(power):
  return sum(int(num) for num in str(2 ** power))

In [145]:
%time print("The sum is ", power_digit_sum(1000))

The sum is  1366
CPU times: user 613 µs, sys: 0 ns, total: 613 µs
Wall time: 549 µs

Well... That was easy...

## #17 Number letter counts

<p>If the numbers 1 to 5 are written out in words: one, two, three, four, five, then there are 3 + 3 + 5 + 4 + 4 = 19 letters used in total.</p>
<p>If all the numbers from 1 to 1000 (one thousand) inclusive were written out in words, how many letters would be used? </p>
<br /><p class="note"><b>NOTE:</b> Do not count spaces or hyphens. For example, 342 (three hundred and forty-two) contains 23 letters and 115 (one hundred and fifteen) contains 20 letters. The use of "and" when writing out numbers is in compliance with British usage.</p>

In [215]:
def number_letter_counts():
  digits = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
  tens_weird = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']
  tens = ['', 'ten', 'twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']
  hundreds = ['', 'onehundred', 'twohundred', 'threehundred', 'fourhundred', 'fivehundred', 'sixhundred', 'sevenhundred', 'eighthundred', 'ninehundred']

  all_letters = ""
  
  for z in range(0, 10):
    for i in range(0, 10):
      for y in range(0, 10):
        if z == 0:
          if i == 1:
            all_letters += (tens_weird[y])
          else:
            all_letters += (tens[i] + digits[y])
        else: 
          if i == 1:
            all_letters += (hundreds[z] + "and" + tens_weird[y])
          elif i == 0 and y == 0:
            all_letters += (hundreds[z])
          else:
            all_letters += (hundreds[z] + "and" + tens[i] + digits[y])
  
  all_letters += "onethousand"
  return len(all_letters)

In [216]:
print("The number of letters is ", number_letter_counts())

The number of letters is  21124

## #18 Maximum path sum I

<p>By starting at the top of the triangle below and moving to adjacent numbers on the row below, the maximum total from top to bottom is 23.</p>
<p class="monospace center"><span class="red"><b>3</b></span><br /><span class="red"><b>7</b></span> 4<br />
2 <span class="red"><b>4</b></span> 6<br />
8 5 <span class="red"><b>9</b></span> 3</p>
<p>That is, 3 + 7 + 4 + 9 = 23.</p>
<p>Find the maximum total from top to bottom of the triangle below:</p>
<p class="monospace center">75<br />
95 64<br />
17 47 82<br />
18 35 87 10<br />
20 04 82 47 65<br />
19 01 23 75 03 34<br />
88 02 77 73 07 63 67<br />
99 65 04 28 06 16 70 92<br />
41 41 26 56 83 40 80 70 33<br />
41 48 72 33 47 32 37 16 94 29<br />
53 71 44 65 25 43 91 52 97 51 14<br />
70 11 33 28 77 73 17 78 39 68 17 57<br />
91 71 52 38 17 14 91 43 58 50 27 29 48<br />
63 66 04 68 89 53 67 30 73 16 69 87 40 31<br />
04 62 98 27 23 09 70 98 73 93 38 53 60 04 23</p>
<p class="note"><b>NOTE:</b> As there are only 16384 routes, it is possible to solve this problem by trying every route. However, <a href="problem=67">Problem 67</a>, is the same challenge with a triangle containing one-hundred rows; it cannot be solved by brute force, and requires a clever method! ;o)</p>

In [218]:
triangle = [
[75, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
[95, 64, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
[17, 47, 82, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
[18, 35, 87, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
[20, 4, 82, 47, 65, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
[19, 1, 23, 75, 3, 34, 0, 0, 0, 0, 0, 0, 0, 0, 0],
[88, 2, 77, 73, 7, 63, 67, 0, 0, 0, 0, 0, 0, 0, 0],
[99, 65, 4, 28, 6, 16, 70, 92, 0, 0, 0, 0, 0, 0, 0],
[41, 41, 26, 56, 83, 40, 80, 70, 33, 0, 0, 0, 0, 0, 0],
[41, 48, 72, 33, 47, 32, 37, 16, 94, 29, 0, 0, 0, 0, 0],
[53, 71, 44, 65, 25, 43, 91, 52, 97, 51, 14, 0, 0, 0, 0],
[70, 11, 33, 28, 77, 73, 17, 78, 39, 68, 17, 57, 0, 0, 0],
[91, 71, 52, 38, 17, 14, 91, 43, 58, 50, 27, 29, 48, 0, 0], 
[63, 66, 4, 68, 89, 53, 67, 30, 73, 16, 69, 87, 40, 31, 0],
[4, 62, 98, 27, 23, 9, 70, 98, 73, 93, 38, 53, 60, 4, 23]]